  server:
    address: http://media-server_lidarr
    port: {{ service_catalog.lidarr.port }}
  config:
    host:
      analyticsEnabled: false
    ui:
{% include "_ui_common.yml.j2" +%}
  rootfolder:
    - name: Music
      path: {{ media_files_container }}/music
      defaultTags: []
      defaultQualityProfileId: 1
      defaultMetadataProfileId: 1
  downloadclient:
    - name: qBittorrent
      enable: true
      protocol: torrent
      priority: 2
      removeCompletedDownloads: true
      removeFailedDownloads: true
      fields:
      - name: host
        value: http://media-server_qbittorrent
      - name: port
        value: {{ service_catalog.qbittorrent.port }}
      # - name: username
      #   value: username
      # - name: password
      #   value: password
      - name: musicCategory
        value: music
      - name: recentMusicPriority
        value: 0
      - name: olderMusicPriority
        value: 0
      - name: initialState
        value: 0
      - name: sequentialOrder
        value: false
      - name: firstAndLast
        value: false
      implementation: QBittorrent
      configContract: QBittorrentSettings
  
