  server:
    address: http://media-server_prowlarr
    port: {{ service_catalog.prowlarr.port }}
  config:
    host:
      analyticsEnabled: false
    ui:
      theme: dark
  indexer:
      indexerUrls:
        - 'https://nzbfinder.ws'
      legacyUrls: []
      definitionName: Newznab
      description: Newznab is an API search specification for Usenet
      language: en-US
      encoding: Unicode (UTF-8)
      enable: true
      redirect: false
      supportsRss: true
      supportsSearch: true
      supportsRedirect: true
      supportsPagination: true
      appProfileId: 1
      protocol: usenet
      privacy: private
      capabilities:
        limitsMax: 100
        limitsDefault: 100
        categories:
          - id: 8000
            name: Other
            subCategories:
              - id: 8010
                name: Other/Misc
                subCategories: []
              - id: 8020
                name: Other/Hashed
                subCategories: []
          - id: 100010
            name: Other/Misc
            subCategories: []
          - id: 100020
            name: Other/Hashed
            subCategories: []
          - id: 0
            name: Other
            subCategories: []
          - id: 100001
            name: Other
            subCategories: []
          - id: 2000
            name: Movies
            subCategories:
              - id: 2010
                name: Movies/Foreign
                subCategories: []
              - id: 2030
                name: Movies/SD
                subCategories: []
              - id: 2040
                name: Movies/HD
                subCategories: []
              - id: 2045
                name: Movies/UHD
                subCategories: []
              - id: 2060
                name: Movies/3D
                subCategories: []
              - id: 2050
                name: Movies/BluRay
                subCategories: []
              - id: 2070
                name: Movies/DVD
                subCategories: []
              - id: 2020
                name: Movies/Other
                subCategories: []
          - id: 102010
            name: Movies/Foreign
            subCategories: []
          - id: 102030
            name: Movies/SD
            subCategories: []
          - id: 102040
            name: Movies/HD
            subCategories: []
          - id: 102045
            name: Movies/UHD
            subCategories: []
          - id: 102050
            name: Movies/3D
            subCategories: []
          - id: 102060
            name: Movies/BluRay
            subCategories: []
          - id: 102070
            name: Movies/DVD
            subCategories: []
          - id: 102999
            name: Movies/Other
            subCategories: []
          - id: 102000
            name: Movies
            subCategories: []
          - id: 3000
            name: Audio
            subCategories:
              - id: 3010
                name: Audio/MP3
                subCategories: []
              - id: 3020
                name: Audio/Video
                subCategories: []
              - id: 3030
                name: Audio/Audiobook
                subCategories: []
              - id: 3040
                name: Audio/Lossless
                subCategories: []
              - id: 3060
                name: Audio/Foreign
                subCategories: []
              - id: 3050
                name: Audio/Other
                subCategories: []
          - id: 103010
            name: Audio/MP3
            subCategories: []
          - id: 103020
            name: Audio/Video
            subCategories: []
          - id: 103030
            name: Audio/Audiobook
            subCategories: []
          - id: 103040
            name: Audio/Lossless
            subCategories: []
          - id: 103060
            name: Audio/Foreign
            subCategories: []
          - id: 103999
            name: Audio/Other
            subCategories: []
          - id: 103000
            name: Audio
            subCategories: []
          - id: 5000
            name: TV
            subCategories:
              - id: 5020
                name: TV/Foreign
                subCategories: []
              - id: 5030
                name: TV/SD
                subCategories: []
              - id: 5040
                name: TV/HD
                subCategories: []
              - id: 5045
                name: TV/UHD
                subCategories: []
              - id: 5060
                name: TV/Sport
                subCategories: []
              - id: 5070
                name: TV/Anime
                subCategories: []
              - id: 5080
                name: TV/Documentary
                subCategories: []
              - id: 5050
                name: TV/Other
                subCategories: []
          - id: 105020
            name: TV/Foreign
            subCategories: []
          - id: 105030
            name: TV/SD
            subCategories: []
          - id: 105040
            name: TV/HD
            subCategories: []
          - id: 105045
            name: TV/UHD
            subCategories: []
          - id: 105060
            name: TV/Sport
            subCategories: []
          - id: 105070
            name: TV/Anime
            subCategories: []
          - id: 105080
            name: TV/Documentary
            subCategories: []
          - id: 105999
            name: TV/Other
            subCategories: []
          - id: 105000
            name: TV
            subCategories: []
          - id: 6000
            name: XXX
            subCategories:
              - id: 6010
                name: XXX/DVD
                subCategories: []
              - id: 6020
                name: XXX/WMV
                subCategories: []
              - id: 6030
                name: XXX/XviD
                subCategories: []
              - id: 6040
                name: XXX/x264
                subCategories: []
              - id: 6070
                name: XXX/Other
                subCategories: []
              - id: 6045
                name: XXX/UHD
                subCategories: []
              - id: 6050
                name: XXX/Pack
                subCategories: []
              - id: 6060
                name: XXX/ImageSet
                subCategories: []
              - id: 6080
                name: XXX/SD
                subCategories: []
          - id: 106010
            name: XXX/DVD
            subCategories: []
          - id: 106020
            name: XXX/WMV
            subCategories: []
          - id: 106030
            name: XXX/XviD
            subCategories: []
          - id: 106040
            name: XXX/x264
            subCategories: []
          - id: 106041
            name: XXX/HD Clips
            subCategories: []
          - id: 106042
            name: XXX/SD Clips
            subCategories: []
          - id: 106045
            name: XXX/UHD
            subCategories: []
          - id: 106046
            name: XXX/VR
            subCategories: []
          - id: 106050
            name: XXX/Packs
            subCategories: []
          - id: 106060
            name: XXX/Imageset
            subCategories: []
          - id: 106080
            name: XXX/SD
            subCategories: []
          - id: 106999
            name: XXX/Other
            subCategories: []
          - id: 106000
            name: XXX
            subCategories: []
          - id: 7000
            name: Books
            subCategories:
              - id: 7010
                name: Books/Mags
                subCategories: []
              - id: 7020
                name: Books/EBook
                subCategories: []
              - id: 7030
                name: Books/Comics
                subCategories: []
              - id: 7040
                name: Books/Technical
                subCategories: []
              - id: 7060
                name: Books/Foreign
                subCategories: []
              - id: 7050
                name: Books/Other
                subCategories: []
          - id: 107010
            name: Books/Magazines
            subCategories: []
          - id: 107020
            name: Books/Ebook
            subCategories: []
          - id: 107030
            name: Books/Comics
            subCategories: []
          - id: 107040
            name: Books/Technical
            subCategories: []
          - id: 107060
            name: Books/Foreign
            subCategories: []
          - id: 107999
            name: Books/Other
            subCategories: []
          - id: 107000
            name: Books
            subCategories: []
        supportsRawSearch: false
        searchParams:
          - q
        tvSearchParams:
          - q
          - tvdbId
          - traktId
          - rId
          - tvMazeId
          - imdbId
          - tmdbId
          - season
          - ep
        movieSearchParams:
          - q
          - imdbId
          - tmdbId
          - traktId
        musicSearchParams: []
        bookSearchParams: []
      priority: 1
      downloadClientId: 0
      added: '2025-02-15T06:40:13Z'
      sortName: nzbfinder
      name: NZBFinder
      fields:
        - name: baseUrl
          value: 'https://nzbfinder.ws'
        - name: apiPath
          value: /api
        - name: apiKey
          value: '********'
        - name: additionalParameters
        - name: vipExpiration
          value: ''
        - name: baseSettings.queryLimit
        - name: baseSettings.grabLimit
        - name: baseSettings.limitsUnit
          value: 0
      implementationName: Newznab
      implementation: Newznab
      configContract: NewznabSettings
      # infoLink: 'https://wiki.servarr.com/prowlarr/supported-indexers#newznab'
      # tags: []
      # id: 1

      
    # - name: Internet Archive
    #   enable: true
    #   definitionName: internetarchive
    #   implementation: Cardigann
    #   configContract: CardigannSettings
    #   fields: # What fields are needed for each indexer is a bit obscure.
    #     - name: definitionFile
    #       value: internetarchive
    #     - name: titleOnly
    #       value: true
    #     - name: noMagnet
    #       value: false
    #     - name: sort
    #       value: 2
    #     - name: type
    #       value: 1
    #   tags: []
  applications:
    - name: Sonarr
      syncLevel: fullSync
      implementation: Sonarr
      configContract: SonarrSettings
      fields:
        - name: prowlarrUrl
          value: http://media-server_prowlarr:{{ service_catalog.prowlarr.port }}
        - name: baseUrl
          value: http://media-server_sonarr:{{ service_catalog.sonarr.port }}
        - name: apiKey
          value: {{ sonarr_api_key }}
    - name: Radarr
      syncLevel: fullSync
      implementation: Radarr
      configContract: RadarrSettings
      fields:
        - name: prowlarrUrl
          value: http://media-server_prowlarr:{{ service_catalog.prowlarr.port }}
        - name: baseUrl
          value: http://media-server_radarr:{{ service_catalog.radarr.port }}
        - name: apiKey
          value: {{ radarr_api_key }}
    - name: Lidarr
      syncLevel: fullSync
      implementation: Lidarr
      configContract: LidarrSettings
      fields:
        - name: prowlarrUrl
          value: http://media-server_prowlarr:{{ service_catalog.prowlarr.port }}
        - name: baseUrl
          value: http://media-server_lidarr:{{ service_catalog.lidarr.port }}
        - name: apiKey
          value: {{ lidarr_api_key }}
  
