name: {{ docker_site }}

networks:
  {{ docker_site }}_network:
    driver: bridge

include:
{% for service in docker_services %}
  - {{ docker_site }}_{{ service }}.yml
  - {{ docker_site }}_sp_{{ service }}.yml
{% endfor %}
