services:
  {{ container_name }}:
    image: amir20/dozzle:latest
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - {{ container_net_name }}
    ports:
      - "127.0.0.1:{{ docker_service.port }}:{{ docker_service.port }}"
    environment:
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    volumes:
      - "{{ container_volume_root }}/config:/app/config"
    labels:
      - homepage.group=Core
      - homepage.name=Dozzle
      - homepage.description=View Docker log files for all containers
      - homepage.href={{ docker_service.path | default("") }}
