services:
  {{ container_name }}:
    image: crccheck/hello-world:latest
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - {{ container_net_name }}
    ports:
      - "127.0.0.1:{{ docker_service.port }}:{{ docker_service.port }}"
    environment:
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
      PORT: {{ docker_service.port }}
    volumes:
      - "{{ container_volume_root }}/config:/app/config"
    labels:
      - homepage.group=Test
      - homepage.name=Hello world
      - homepage.description=Shows an HTTP "hello world" page
      - homepage.href={{ docker_service.proxy.base | default("") }}
