services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # profiles: ["apps", "all"]
    networks:
      - socket_proxy
    ports:
      - "127.0.0.1:{{ docker_services.homepage.port }}:{{ docker_services.homepage.port }}"
    volumes:
      - "{{ docker_volumes_root }}/homepage/config:/app/config"
