services:
  {{ container_name }}:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - {{ container_net_name }}
    ports:
      - "127.0.0.1:{{ docker_services.homepage.port }}:{{ docker_services.homepage.port }}"
    environment:
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    volumes:
      - "{{ container_volume_root }}/config:/app/config"
