services:
  {{ container_name }}:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    devices:
      # use host's gpu for transcoding
      - /dev/dri:/dev/dri
    networks:
      - {{ container_net_name }}
    ports:
      - "127.0.0.1:{{ docker_service.port }}:{{ docker_service.port }}"
    environment:
      PGID: {{ docker_service.gid }}
      # JELLYFIN_DATA_DIR: /data
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    volumes:
      # - "{{ container_volume_root }}/config:/config"
      # - "{{ container_volume_root }}/cache:/cache"
      # - "{{ container_volume_root }}/data:/data"
      - "{{ container_volume_root }}:/config"
      - {{ media_files_host }}:{{ media_files_container }}
      # use host ram for transcoding
      - /dev/shm:/config/cache/transcodes
    labels:
      - homepage.group=Media
      - homepage.name=Jellyfin
      - homepage.description=An all-in-one media playing app
      - homepage.href={{ docker_service.path | default("") }}
