services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # profiles: ["apps", "all"]
    networks:
      - socket_proxy
    ports:
      - "127.0.0.1:{{ docker_services.jellyfin.port }}:{{ docker_services.jellyfin.port }}"
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - {{ docker_volumes_root }}/jellyfin/config:/config
      - {{ docker_volumes_root }}/jellyfin/cache:/cache
      - {{ media_download_root }}:/media/downloads
      - {{ media_files_root }}:/media/library
      - /dev/shm:/data/transcode
    environment:
      UMASK_SET: "022"
      DOCKER_HOST: tcp://socket-proxy:{{ docker_services.socket_proxy.port }}
    labels:
      - homepage.group=Media
      - homepage.name=Jellyfin
      - homepage.href={{ docker_services.jellyfin.proxy.base | default("") }}
      - homepage.description=Media library
