services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - socket_proxy
    ports:
      - "127.0.0.1:{{ docker_service.port }}:{{ docker_service.port }}"
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - {{ container_volume_root }}/config:/config
      - {{ container_volume_root }}/cache:/cache
      - {{ media_downloads_hosts }}:{{ media_downloads_container }}
      - {{ media_files_host }}:{{ media_files_container }}
      - /dev/shm:/data/transcode
    environment:
      UMASK_SET: "022"
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    labels:
      - homepage.group=Media
      - homepage.name=Jellyfin
      - homepage.href={{ docker_service.path | default("") }}
      - homepage.description=Media library
