services:
  nginx:
    image: nginx
    container_name: nginx
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # profiles: ["apps", "all"]
    networks:
      - socket_proxy
    ports:
      # NOTE: these ports are exposed on the host
      - "0.0.0.0:{{ docker_services.nginx.port_http }}:{{ docker_services.nginx.port_http }}"
      - "0.0.0.0:{{ docker_services.nginx.port_https }}:{{ docker_services.nginx.port_https }}"
    volumes:
      - {{ docker_volumes_root }}/nginx/config:/etc/nginx
      - {{ ssl_root }}:/opt/ssl:ro
    environment:
      DOCKER_HOST: tcp://socket-proxy:{{ docker_services.socket_proxy.port }}
    labels:
      - homepage.group=Core
      - homepage.name=Nginx
      - homepage.href=https://{{ site_name }}
      - homepage.description=HTTP server and reverse proxy
