services:
  {{ container_name }}:
    image: nginx:stable-alpine3.20
    container_name: "{{ container_name }}"
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # NOTE: we are using the host network driver so we have to access docker
    # containers through their local ports and any ports our container exposes
    # will also be exposed on the host.
    network_mode: host
    volumes:
      - {{ container_volume_root }}/config:/etc/nginx
      - {{ web_root }}/nginx.sites:/etc/nginx/sites
      - {{ ssl_root }}:/opt/ssl:ro
    environment:
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    labels:
      - homepage.group=Core
      - homepage.name=Nginx ({{ site_name }})
      - homepage.href=https://{{ site_name }}
      - homepage.description=HTTP server and reverse proxy for {{ site_name }}
