services:
  {{ container_name }}:
    image: plexinc/pms-docker:latest
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    devices:
      # use host's gpu for transcoding
      - /dev/dri:/dev/dri
    networks:
      - {{ container_net_name }}
    ports:
      # expose plex publicly
      - "0.0.0.0:{{ docker_service.port }}:{{ docker_service.port }}"
    environment:
      PLEX_GID: {{ docker_service.gid }}
      PLEX_CLAIM: {{ plex_claim_token }}
      ADVERTISE_IP: {{ docker_service.path }}
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    volumes:
      - {{ container_volume_root }}/config:/config
      - {{ media_files_host }}:{{ media_files_container }}
      # use host ram for transcoding
      - /dev/shm:/transcode
    labels:
      - homepage.group=Media
      - homepage.name=Plex
      - homepage.description=An all-in-one media playing app
      - homepage.href={{ docker_service.path | default("") }}
