services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # profiles: ["core", "all"]
    networks:
      - socket_proxy
    command: -H tcp://socket-proxy:{{ docker_services.socket_proxy.port }}
    ports:
      - "127.0.0.1:{{ docker_services.portainer.port }}:{{ docker_services.portainer.port }}"
    volumes:
      - {{ docker_volumes_root }}/portainer/data:/data
    environment:
      - TZ={{ docker_timezone }}
    labels:
      - homepage.group=Core
      - homepage.name=Portainer
      - homepage.href={{ docker_services.portainer.proxy.base | default("") }}
      - homepage.description=Manage Docker containers
