services:
  {{ container_name }}:
    image: portainer/portainer-ce:2.21.5
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - {{ container_net_name }}
    command: -H tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    ports:
      - "127.0.0.1:{{ docker_service.port }}:{{ docker_service.port }}"
    environment:
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    volumes:
      - "{{ socket_proxy_host_socket }}:/var/run/docker.sock"
      - "{{ container_volume_root }}/data:/data"
    labels:
      - homepage.group=Core
      - homepage.name=Portainer
      - homepage.href={{ docker_service.path | default("") }}
      - homepage.description=Manage Docker containers
