services:
  {{ container_name }}:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - {{ container_net_name }}
      - {{ docker_site }}_network
    ports:
      - "127.0.0.1:{{ docker_service.port }}:{{ docker_service.port }}"
    environment:
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    volumes:
      - "{{ container_volume_root }}/config:/config"
    labels:
      - homepage.group=Feeders
      - homepage.name=Prowlarr
      - homepage.description=Tracker aggregator
      - homepage.href={{ docker_service.path | default("") }}
