services:
  {{ container_name }}:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    network_mode: "service:{{ docker_site }}_gluetun"
    volumes:
      - {{ container_volume_root }}/config/qBittorrent/qBittorrent.conf:/config/qBittorrent/qBittorrent.conf
      - {{ media_downloads_hosts }}:{{ media_downloads_container }}
    environment:
      PGID: 1001
      UMASK: "007"
      WEBUI_PORT: {{ docker_service.port }}
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    labels:
      - homepage.group=Downloaders
      - homepage.name=qBittorrent
      - homepage.href={{ docker_service.path | default("") }}
      - homepage.description=Torrent downloader

    
