{% if docker_service.path | default(False) %}
# {{ service_name }} service
server {
    server_name {{ docker_service.path | replace("https://", "") }};
    include includes/listen_ssl.conf;
    include includes/proxy_auth_server.conf;
    location / {
        proxy_pass {{ docker_service.proxy.host | default("http://127.0.0.1:{}".format(docker_service.port)) }};
        # proxy_pass {{ docker_service.proxy.host | default("http://{}_{}:{}".format(docker_site, service_name, docker_service.port)) }};
        include includes/proxy_location.conf;
{% if docker_service | auth_enabled %}
        include includes/proxy_auth_location.conf;
{% endif %}
    }
}
{% else %}
# {{ service_name }} is not being proxied
{% endif %}