services:
  {{ container_name }}:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - {{ container_net_name }}
      - {{ docker_site }}_network
    ports:
      - "127.0.0.1:{{ docker_service.port }}:{{ docker_service.port }}"
    environment:
      PGID: 1001
      UMASK: "007"
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    volumes:
      - "{{ container_volume_root }}/config/sabnzbd.ini:/config/sabnzbd.ini"
      - {{ media_downloads_hosts }}:{{ media_downloads_container }}
    labels:
      - homepage.group=Downloaders
      - homepage.name=SABnzbd
      - homepage.description=Binary newsgrabber (NZB downloader)
      - homepage.href={{ docker_service.path | default("") }}
