services:
  {{ container_name }}:
    image: syncthing/syncthing:latest
    container_name: {{ container_name }}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # let syncthing manage all it's needed ports; there are a lot
    network_mode: host
    environment:
      PUID: {{ docker_service.uid | default(1000) }}
      PGID: {{ docker_service.gid | default(1000) }}
      # STGUIADDRESS: ""          # syncthing should only listen on the local interface
      DOCKER_HOST: tcp://{{ container_sp_name }}:{{ socket_proxy_port }}
    volumes:
      - "/opt/sync:/var/syncthing"
      - {{ media_files_host }}:{{ media_files_container }}
    labels:
      - homepage.group=Misc
      - homepage.name=Syncthing
      - homepage.description=File synchronization system
      - homepage.href={{ docker_service.path | default("") }}
