sonarr:
{% include "_sonarr.yml.j2" +%}
  
radarr:
{% include "_radarr.yml.j2" +%}
  
lidarr:
{% include "_lidarr.yml.j2" +%}
  
readarr:
{% include "_readarr.yml.j2" +%}
  
prowlarr:
{% include "_prowlarr.yml.j2" +%}
