networks:
  default:
    driver: bridge
  socket_proxy:
    name: socket_proxy
    driver: bridge
    ipam:
      config:
        - subnet: {{ docker_subnet }}

include:
{% for service in docker_services %}
  - compose/{{ service }}.yml
{% endfor %}
