services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # profiles: ["apps", "all"]
    network_mode: "service:gluetun"
    volumes:
      - {{ docker_app_root }}/qbittorrent/config:/config
      - {{ media_download_root }}:/data/downloads
    environment:
      WEBUI_PORT: {{ docker_services.qbittorrent.port }}
      UMASK_SET: "002"
      DOCKER_HOST: tcp://socket-proxy:{{ docker_services.socket_proxy.port }}
    labels:
      - homepage.group=Download
      - homepage.name=qBittorrent
      - homepage.href=https://{{ media_server_host }}:{{ docker_services.qbittorrent.port }}/
      - homepage.description=Torrent downloader
