services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # profiles: ["apps", "all"]
    networks:
      - socket_proxy
    ports:
      - "127.0.0.1:{{ docker_services.radarr.port }}:7878"
    volumes:
      - {{ docker_app_root }}/radarr/config:/config
      - {{ media_download_root }}:/media/downloads
      - {{ media_files_root }}:/media/library
    environment:
      PGID: 1001
      DOCKER_HOST: tcp://socket-proxy:{{ docker_services.socket_proxy.port }}
    labels:
      - homepage.group=Feeders
      - homepage.name=Radarr
      - homepage.href={{ media_server_href }}:{{ docker_services.radarr.port }}/
      - homepage.description=Movie PVR
