services:
  socket-proxy:
    container_name: socket-proxy
    image: tecnativa/docker-socket-proxy
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # profiles: ["core", "all"] 
    networks:
      socket_proxy:
        ipv4_address: {{ docker_services.socket_proxy.addr }}
    privileged: true
    ports:
      # NOTE: containers need the container port so set both the host and container port
      - "127.0.0.1:{{ docker_services.socket_proxy.port }}:{{ docker_services.socket_proxy.port }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      # debug,info,notice,warning,err,crit,alert,emerg
      - LOG_LEVEL=debug
      ## Variables match the URL prefix (i.e. AUTH blocks access to /auth/* parts of the API, etc.).
      # 0 to revoke access.
      # 1 to grant access.
      ## Granted by Default
      - EVENTS=1
      - PING=1
      - VERSION=1
      ## Revoked by Default
      # Security critical
      - AUTH=0
      - SECRETS=0
      - POST=1 # Watchtower
      # Not always needed
      - BUILD=0
      - COMMIT=0
      - CONFIGS=0
      - CONTAINERS=1 # Traefik, Portainer, etc.
      - DISTRIBUTION=0
      - EXEC=0
      - IMAGES=1 # Portainer
      - INFO=1 # Portainer
      - NETWORKS=1 # Portainer
      - NODES=0
      - PLUGINS=0
      - SERVICES=1 # Portainer
      - SESSION=0
      - SWARM=0
      - SYSTEM=0
      - TASKS=1 # Portainer
      - VOLUMES=1 # Portainer
    labels:
      - homepage.group=Core
      - homepage.name=Socket Proxy
      - homepage.description=Socket proxy for Docker
