services:
  xxx:
    image: xxx
    container_name: xxx
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    # profiles: ["apps", "all"]
    networks:
      - socket_proxy
    ports:
      - "127.0.0.1:{{ docker_services.xxx.port }}:xxx"
    volumes:
      - {{ docker_app_root }}/xxx/data:/data
    environment:
      DOCKER_HOST: tcp://socket-proxy:{{ docker_services.socket_proxy.port }}
    labels:
      - homepage.group=Xxx
      - homepage.name=Xxx
      - homepage.href={{ media_server_href }}:{{ docker_services.xxx.port }}/
      - homepage.description=xxx
